page-home {

.foto
{
    
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 100%;
}
.contenido form
{
    margin-top: 25px;
}
.tx{
    text-align: center;
    font-size: 18px;
    color: #cccaca;
}
.text2
{
    text-align: center;
    font-size: 15px;
    color: #cccaca;
}

}
